<h1>I'm a Monster!</h1>
<p>
	This is what happens when a bulldog named Mona meets <%= link_to "Ruby on Rails", "http://rubyonrails.org" %>. Big ups to <%= link_to "One Month Rails", "http://onemonthrails.com" %> for 
	making a great tutorial!
</p>