<h1>We're doin' it!</h1>
<p>
	I've been trying to teach myself <%= link_to "Ruby on Rails", "http://rubyonrails.org" %> for the
	better part of 2 years now. Big ups to <%= link_to "One Month Rails", "http://onemonthrails.com" %> for 
	making a great tutorial!
</p>