<% if user_signed_in? %>
	<h1>Welcome back!</h1>
<% else %>
	<div class="hero-unit">
		<h1>Welcome to D's Domain!</h1>
			<p>
				You found my Ruby on Rails playground.
				Don't you feel <%= link_to "special", "http://gifs.gifbin.com/g6011619998.gif" %>?
			</p>
			<p>
				<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
			</p>
	</div>
<% end %>